@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme {
	--color-primary: #B88E2F;
   	--color-black: #333333;
}

@layer utilities {
	.container {
		@apply mx-auto px-5;
	}
}

@layer utilities {
	.flex-center {
		@apply flex items-center justify-center;
	}

	.flex-y-center {
		@apply flex items-center;
	}
}

body {
	background: var(--background);
	color: var(--color-black);
	font-weight: 500;
}
