@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme {
	--color-primary: #b88e2f;
	--color-primary-25: #fff3e3;
	--color-black: #333333;
	--color-black-secondary: #000000;
	--color-black-secondary-17: rgba(0, 0, 0, 0.17);
	--color-gray-100: #e8e8e8;
	--color-gray-400: #b0b0b0;
	--color-gray-500: #898989;
	--color-gray-600: #666666;
	--color-gray-700: #727272;
	--color-gray-800: #9f9f9f;
	--color-accent: #e97171;
	--color-green: #2ec1ac;
	--color-light: #f4f5f7;
}

@utility container {
	@apply mx-auto px-5;
}

@utility flex-center {
	@apply flex items-center justify-center;
}

@utility flex-y-center {
	@apply flex items-center;
}

@utility transition-ease-in-out {
	@apply transition duration-300 ease-in-out;
}

/*transition duration-300 ease-in-out*/

@utility btn-primary {
	@apply bg-primary text-white border-primary hover:bg-white hover:text-primary;
}

@layer base {
	h1,
	.h1 {
		font-size: 52px;
		font-weight: bold;
		line-height: 1.22;
	}

	h2,
	.h2 {
		font-size: 40px;
		font-weight: bold;
		line-height: 1.22;
	}

	h3,
	.h3 {
		font-size: 28px;
		font-weight: 500;
		line-height: 1.25;
	}

	h4,
	.h4 {
		font-size: 24px;
		font-weight: 600;
	}

	h6,
	.h6 {
		font-size: 16px;
		font-weight: 500;
	}

	button {
		cursor: pointer;
	}

	a {
		display: inline-block;
	}
}

body {
	background: var(--background);
	color: var(--color-black);
	font-weight: 400;
}

/* scroll bar */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: var(--color-primary-25);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb {
	background: var(--color-primary);
	border-radius: 6px;
}
