@import "tailwindcss";

:root {
	--background: #fff;
	--foreground: #171717;
}

@theme {
	--color-primary-100: #faf3ea;
	--color-primary-200: #fff3e3;
	--color-primary-500: #b88e2f;
	--color-black: #000;
	--color-neutral-600: #3a3a3a;
	--color-neutral-700: #333;
	--color-neutral-800: #242424;
	--color-gray-100: #faf3ea;
	--color-gray-200: #f4f5f7;
	--color-gray-300: #d9d9d9;
	--color-gray-400: #b0b0b0;
	--color-gray-500: #9f9f9f;
	--color-gray-600: #898989;
	--color-gray-700: #727272;
	--color-gray-800: #666;
	--color-gray-900: #616161;
	--color-accent-red: #e97171;
	--color-accent-green: #2ec1ac;
	--color-light: #f4f5f7;
	--color-light-secondary: #f9f1e7;
}

@utility container {
	@apply mx-auto px-5;
}

@utility flex-center {
	@apply flex items-center justify-center;
}

@utility flex-y-center {
	@apply flex items-center;
}

@utility transition-ease-in-out {
	@apply transition duration-300 ease-in-out;
}

@utility btn-primary {
	@apply bg-primary-500 text-white border-primary-500 hover:bg-white hover:text-primary-500;
}

@utility btn-transparent {
	@apply bg-transparent text-black border-black hover:bg-primary-500 hover:text-white hover:border-primary-500;
}

@utility btn-primary-transparent {
	@apply border-primary-500 text-primary-500 hover:bg-primary-500 hover:text-white;
}

/* ---------- REGULAR (400) ---------- */
@utility text-regular-14-white {
	@apply text-sm text-white;
}

@utility text-regular-14-gray-500 {
	@apply text-sm text-gray-500;
}

@utility text-regular-16-gray-400 {
	@apply text-base text-gray-400;
}

@utility text-regular-16-gray-500 {
	@apply text-base text-gray-500;
}

@utility text-regular-xl-black {
	@apply text-xl text-black;
}

@utility text-regular-xl-gray-800 {
	@apply text-xl text-gray-800;
}

@utility text-regular-xl-gray-400 {
	@apply text-xl text-gray-400;
}

@utility text-regular-2xl-gray-500 {
	@apply text-2xl text-gray-500;
}

/* ---------- MEDIUM (500) ---------- */
@utility text-medium-sm-black {
	@apply text-sm font-medium text-black;
}

@utility text-medium-sm-white {
	@apply text-sm font-medium text-white;
}

@utility text-light-base {
	@apply text-base font-light;
}

@utility text-medium-base {
	@apply text-base font-medium;
}

@utility text-medium-base-gray-600 {
	@apply text-base font-medium text-gray-600;
}

@utility text-medium-base-white {
	@apply text-base font-medium text-white;
}

@utility text-medium-base-gray-500 {
	@apply text-base font-medium text-gray-500;
}

@utility text-medium-lg-gray-700 {
	@apply text-lg font-medium text-neutral-700;
}

@utility text-medium-lg-black {
	@apply text-lg font-medium text-black;
}

@utility text-medium-xl {
	@apply text-xl font-medium;
}

@utility text-medium-xl-gray-600 {
	@apply text-xl font-medium text-gray-600;
}

@utility text-medium-xl-gray-700 {
	@apply text-xl font-medium text-gray-700;
}

@utility text-medium-xl-primary {
	@apply text-xl font-medium text-primary-500;
}

@utility text-medium-2xl-gray-500 {
	@apply text-2xl font-medium text-gray-500;
}

@utility text-medium-2xl-black {
	@apply text-2xl font-medium text-black;
}

/* ---------- SEMIBOLD (600) ---------- */
@utility text-semibold-sm-white {
	@apply text-sm font-semibold text-white;
}

@utility text-semibold-base-neutral-700 {
	@apply text-base font-semibold text-neutral-700;
}

@utility text-semibold-base-white {
	@apply text-base font-semibold text-white;
}

@utility text-semibold-base-primary {
	@apply text-base font-semibold text-primary-500;
}

@utility text-semibold-xl-neutral-600 {
	@apply text-base lg:text-xl font-semibold text-neutral-600;
}

@utility text-semibold-xl-neutral-700 {
	@apply text-xl font-semibold text-neutral-700;
}

@utility text-semibold-xl-accent-red {
	@apply text-xl font-semibold text-accent-red;
}

@utility text-semibold-32 {
	@apply text-[32px] font-semibold;
}

/* ---------- BOLD (700) ---------- */
@utility text-bold-32 {
	@apply text-[32px] font-bold;
}

@layer base {
	h1,
	.h1 {
		@apply text-[32px] md:text-[40px] lg:text-[52px]/16.25 font-bold;
	}

	h2,
	.h2 {
		@apply text-[26px] md:text-[32px] lg:text-[40px]/12 font-bold;
	}

	h3,
	.h3 {
		@apply text-4xl font-semibold;
	}

	h4,
	.h4 {
		@apply text-[32px] font-semibold;
	}

	h5,
	.h5 {
		@apply text-[28px] font-semibold;
	}

	h6,
	.h6 {
		@apply text-xl lg:text-2xl font-semibold;
	}

	button {@apply cursor-pointer transition-ease-in-out focus:outline-0;
	}

	a {
		@apply inline transition-ease-in-out;
	}

	input,textarea {
		@apply focus:outline-0;
	}
}

body {
	background: var(--background);
	color: var(--color-black);
	font-weight: 400;
}

/* scroll bar */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: var(--color-primary-200);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb {
	background: var(--color-primary-500);
	border-radius: 6px;
}

/* Remove autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	box-shadow: 0 0 0 1000px white inset;
}

#product-gallery-slider .swiper-button-prev,
#product-gallery-slider .swiper-button-next {
	background: var(--color-primary-500);
	border-radius: 50%;
}

#product-gallery-slider .swiper-button-prev {
	left: 20px;
}

#product-gallery-slider .swiper-button-next {
	right: 20px;
}

#product-gallery-slider .swiper-button-prev svg,
#product-gallery-slider .swiper-button-next svg{
	width: 20px;
	height: 20px;
	color: var(--color-white);
}

#product-gallery-slider-thumbs .swiper-slide {
	border: 2px solid transparent;
	border-radius: 12px;
}

#product-gallery-slider-thumbs .swiper-slide.swiper-slide-thumb-active {
	border: 2px solid var(--color-primary-500);
}
